<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="public/build/assets/app.css"> -->
  {{if eq .env "development"}}
  <link rel="stylesheet" href="http://localhost:5173/resources/css/app.css">
  {{else}}
  <link rel="stylesheet" href="{{vite "resources/css/app.css"}}">
  {{end}}
  {{ .inertiaHead }}
</head>

<body class="font-sans antialiased">
  {{ .inertia }}
  <!-- <script type="module" src="public/build/assets/app.js"></script> -->
  {{if eq .env "development"}}
  <script type="module">
    import RefreshRuntime from 'http://localhost:5173/@react-refresh'
    RefreshRuntime.injectIntoGlobalHook(window)
    window.$RefreshReg$ = () => { }
    window.$RefreshSig$ = () => (type) => type
    window.__vite_plugin_react_preamble_installed__ = true
  </script>
  <script src="http://localhost:5173/@vite/client" type="module"></script>
  <script src="http://localhost:5173/resources/js/app.tsx" type="module"></script>
  {{else}}
  <script type="module" src="{{vite "resources/js/app.tsx"}}"></script>
  {{end}}
</body>

</html>
