{{template "base" .}}

{{define "content"}}
<div class="flex items-center justify-center h-screen">
  <div class="w-full max-w-md">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <h1 class="text-3xl font-bold text-center mb-6">Sign in to your account</h1>
      <form action="/login" method="POST">
        <div class="mb-4">
          <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
          <input type="email" name="username" id="email" placeholder="email" class="w-full p-2 border rounded" required />
          {{if .ValidationErrors}}
            <p class="text-xs text-red-500">{{index .ValidationErrors "username"}}</p>
          {{end}}
        </div>

        <div class="mb-4">
          <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
          <input type="password" name="password" id="password" placeholder="password" class="w-full p-2 border rounded" required />
          {{if .ValidationErrors}}
            <p class="text-xs text-red-500">{{index .ValidationErrors "password"}}</p>
          {{end}}
          <label class="block text-gray-700 text-sm mt-2">
            <a href="#" class="text-blue-500 hover:underline">Forgot password?</a>
          </label>
          {{if .Error}}
            <p class="text-xs text-red-500">{{.Error}}</p>
          {{end}}
        </div>

        <div class="mb-6">
          <button class="w-full bg-blue-500 text-white p-2 rounded">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{end}}
