{{template "base" .}}

{{define "content"}}
  <section>Welcome {{index .StringMap "user"}}</section>
  <section hx-get="/repos" hx-trigger="load" hx-swap="innerHTML">
    Loading Repos...
  </section>
{{end}}
