{{template "base" .}}

{{define "content"}}
  <div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Login now!</h1>
      <p class="py-6">Log in to the system</p>
    </div>
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <form class="card-body" action="/login" method="POST">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input type="email" name="username" placeholder="email" class="input input-bordered" required />
          {{if .ValidationErrors}}
            <p class="text-xs text-error">{{index .ValidationErrors "username"}}</p>
          {{end}}
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input type="password" name="password" placeholder="password" class="input input-bordered" required />
          {{if .ValidationErrors}}
            <p class="text-xs text-error">{{index .ValidationErrors "password"}}</p>
          {{end}}
          <label class="label">
            <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
          </label>
          {{if .Error}}
            <p class="text-xs text-error">{{.Error}}</p>
          {{end}}
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{end}}
